[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask-restplus = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-JWT-Extended = "*"
PyJWT = "*"
Werkzeug = "==2.0.1"
uWSGI = "*"

[requires]
python_version = "3.8"
